@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Share+Tech+Mono&display=swap');

html {
    background: black;
}

h2 {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    color: white;
    font-size: 1.7rem;
}


.container {
    display: grid;
    width: 100%;
    place-items: center;
}